@import 'reset';

$content-width: 420px;
$example-width: 640;
$code-bg-color: #e5e9f0;
$font-size: 16px;
$code-size: 13px;
$header-size: 32px;
$link-color: #004196;
$text-color: #252519;

body {
    font-family: 'Georgia', serif;
    font-size: $font-size;
    line-height: 20px;
    color: $text-color;
}

em {
    font-style: italic;
}

a, a:visited {
    color: $link-color;
}

h2 {
    font-size: $header-size;
    line-height: 40px;
    margin-top: 40px;
    padding-bottom: 20px;
}

h2 a, h2 a:visited {
    text-decoration: none;
    color: $text-color;
}

div.example {
    width: $example-width;
    min-width: $example-width;
    max-width: $example-width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.footer {
    padding-top: 10px;
}
.footer, .footer a, .footer a:visited {
    color: grey;
}

div#intro {
    width: $content-width;
    min-width: $content-width;
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

p {
    padding-bottom: 15px;
}

div#intro p {
    padding-top: 20px;
}

div#intro ul {
    padding-top: 20px;
}

pre, code {
    font-size: $code-size;
    line-height: 18px;
    font-family: 'Menlo', 'Monaco', 'Consolas', 'Lucida Console', monospace;
    white-space: pre;
}

pre {
    margin-top: 10px;
    margin-bottom: 10px;
}

code {
    background-color: $code-bg-color;
}

img.run {
    height: 16px;
    width: 16px;
    float: right
}
